:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(19, 19, 19, 0.87);
  background-color: #e1e1e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #515151;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.Product {
  position:relative;
  width: 225px;
  height: 275px;
  background: white;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  margin-right: 50px;
  border-radius: 10px;
  text-align: center;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13);
}

.products {
  display: flex;

  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainContent {
  margin: 50px 0px;
}

#checkbox_item {
  position:absolute;
  left:25px;
  color:red;
}


.products {
  padding:50px 0;
}

footer {
  text-align: center;
  margin-top:25px;
}

#delete-product-btn {
  margin-left: 12.5px;
  background:rgb(255, 75, 75);
}

.cancel_btn {
  margin-left: 12.5px;
  background:rgb(255, 75, 75);
}

hr {
  border:none;
  border-top:1px solid rgb(192, 192, 192);
}

.input_items {
  margin-top:25px;
}

